[Desktop Entry]
Type=Service
Comment=IncludeHelper
Comment[ast]=IncludeHelper
Comment[bg]=IncludeHelper
Comment[bs]=IncludeHelper
Comment[ca]=IncludeHelper
Comment[ca@valencia]=IncludeHelper
Comment[cs]=IncludeHelper
Comment[da]=IncludeHelper
Comment[de]=IncludeHelper
Comment[el]=IncludeHelper
Comment[en_GB]=IncludeHelper
Comment[es]=IncludeHelper
Comment[et]=IncludeHelper
Comment[fi]=IncludeHelper
Comment[fr]=IncludeHelper
Comment[ga]=IncludeHelper
Comment[gl]=IncludeHelper
Comment[hu]=IncludeHelper
Comment[it]=IncludeHelper
Comment[kk]=IncludeHelper
Comment[km]=IncludeHelper
Comment[ko]=IncludeHelper
Comment[lv]=IncludeHelper
Comment[nb]=IncludeHelper
Comment[nds]=IncludeHelper
Comment[nl]=IncludeHelper
Comment[nn]=IncludeHelper
Comment[pa]=IncludeHelper
Comment[pl]=IncludeHelper
Comment[pt]=IncludeHelper
Comment[pt_BR]=IncludeHelper
Comment[ru]=IncludeHelper
Comment[sr]=IncludeHelper
Comment[sr@ijekavian]=IncludeHelper
Comment[sr@ijekavianlatin]=IncludeHelper
Comment[sr@latin]=IncludeHelper
Comment[sv]=IncludeHelper
Comment[tr]=IncludeHelper
Comment[ug]=IncludeHelper
Comment[uk]=IncludeHelper
Comment[x-test]=xxIncludeHelperxx
Comment[zh_CN]=IncludeHelper
Comment[zh_TW]=IncludeHelper
Name=IncludeHelper
Name[ast]=IncludeHelper
Name[bg]=IncludeHelper
Name[bs]=IncludeHelper
Name[ca]=IncludeHelper
Name[ca@valencia]=IncludeHelper
Name[cs]=IncludeHelper
Name[da]=IncludeHelper
Name[de]=IncludeHelper
Name[el]=IncludeHelper
Name[en_GB]=IncludeHelper
Name[eo]=IncludeHelper
Name[es]=IncludeHelper
Name[et]=IncludeHelper
Name[fi]=IncludeHelper
Name[fr]=IncludeHelper
Name[ga]=IncludeHelper
Name[gl]=IncludeHelper
Name[hu]=IncludeHelper
Name[it]=IncludeHelper
Name[ja]=IncludeHelper
Name[kk]=IncludeHelper
Name[km]=IncludeHelper
Name[ko]=IncludeHelper
Name[lv]=IncludeHelper
Name[nb]=IncludeHelper
Name[nds]=IncludeHelper
Name[nl]=IncludeHelper
Name[nn]=IncludeHelper
Name[pa]=IncludeHelper
Name[pl]=IncludeHelper
Name[pt]=IncludeHelper
Name[pt_BR]=IncludeHelper
Name[ro]=IncludeHelper
Name[ru]=IncludeHelper
Name[sq]=IncludeHelper
Name[sr]=IncludeHelper
Name[sr@ijekavian]=IncludeHelper
Name[sr@ijekavianlatin]=IncludeHelper
Name[sr@latin]=IncludeHelper
Name[sv]=IncludeHelper
Name[tr]=IncludeHelper
Name[ug]=IncludeHelper
Name[uk]=IncludeHelper
Name[x-test]=xxIncludeHelperxx
Name[zh_CN]=IncludeHelper
Name[zh_TW]=IncludeHelper
GenericName=IncludeHelper
GenericName[ast]=IncludeHelper
GenericName[bg]=IncludeHelper
GenericName[bs]=IncludeHelper
GenericName[ca]=IncludeHelper
GenericName[ca@valencia]=IncludeHelper
GenericName[cs]=IncludeHelper
GenericName[da]=IncludeHelper
GenericName[de]=IncludeHelper
GenericName[el]=IncludeHelper
GenericName[en_GB]=IncludeHelper
GenericName[es]=IncludeHelper
GenericName[et]=IncludeHelper
GenericName[fi]=IncludeHelper
GenericName[fr]=IncludeHelper
GenericName[ga]=IncludeHelper
GenericName[gl]=IncludeHelper
GenericName[hu]=IncludeHelper
GenericName[it]=IncludeHelper
GenericName[kk]=IncludeHelper
GenericName[km]=IncludeHelper
GenericName[ko]=IncludeHelper
GenericName[lv]=IncludeHelper
GenericName[nb]=IncludeHelper
GenericName[nds]=IncludeHelper
GenericName[nl]=IncludeHelper
GenericName[nn]=IncludeHelper
GenericName[pa]=IncludeHelper
GenericName[pl]=IncludeHelper
GenericName[pt]=IncludeHelper
GenericName[pt_BR]=IncludeHelper
GenericName[ru]=IncludeHelper
GenericName[sr]=IncludeHelper
GenericName[sr@ijekavian]=IncludeHelper
GenericName[sr@ijekavianlatin]=IncludeHelper
GenericName[sr@latin]=IncludeHelper
GenericName[sv]=IncludeHelper
GenericName[tr]=IncludeHelper
GenericName[ug]=IncludeHelper
GenericName[uk]=IncludeHelper
GenericName[x-test]=xxIncludeHelperxx
GenericName[zh_CN]=IncludeHelper
GenericName[zh_TW]=IncludeHelper
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_includehelper
X-KDE-PluginKeyword=ktexteditor_includehelper
X-KDE-PluginInfo-Name=ktexteditor_includehelper
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
