<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui name="katecpphelper" library="katecpphelperplugin" version="10"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
    <MenuBar>
        <Menu name="file"><text>&amp;File</text>
            <Action name="file_open_included_header" group="open_merge" />
            <Action name="file_open_switch_iface_impl" group="open_merge" />
        </Menu>
        <Menu name="edit" noMerge="1"><text>&amp;Edit</text>
            <Action name="edit_copy_include" group="edit_paste_merge" />
        </Menu>
    </MenuBar>
    <Menu name="ktexteditor_popup" noMerge="1">
        <Menu name="cpphelper_popup"><text>&amp;C++ Helper</text>
            <Action name="cpphelper_popup_back_to_last_location" />
            <Separator />
            <Action name="cpphelper_popup_goto_declaration" />
            <Action name="cpphelper_popup_goto_definition" />
            <Action name="cpphelper_popup_search_text" />
            <Separator />
            <Action name="cpphelper_toggle_include_style" />
        </Menu>
    </Menu>
    <Menu name="cpphelper_diagnostic_popup" noMerge="1">
        <Action name="cpphelper_diagnostic_popup_clear" />
    </Menu>
    <State name="cpp_actions_enabled">
        <enable>
            <Action name="file_open_included_header" />
            <Action name="file_open_switch_iface_impl" />
        </enable>
    </State>
    <State name="has_symbol_under_cursor">
        <enable>
            <Action name="cpphelper_popup_goto_declaration" />
            <Action name="cpphelper_popup_goto_definition" />
            <Action name="cpphelper_popup_search_text" />
        </enable>
    </State>
    <State name="empty_locations_stack">
        <disable>
            <Action name="cpphelper_popup_back_to_last_location" />
        </disable>
    </State>
    <State name="no_include_at_current_line">
        <disable>
            <Action name="cpphelper_toggle_include_style" />
        </disable>
    </State>
</gui>
